{ % extends 'index.html' %}

{ % block contenido % }

<h2> Cambiar Contraseña </h2>

<form method="POST">
    { % csrf_token % }
    {{ form.non_field_errors }}

    <p>
        <label for="id_old_password">Contraseña Actual:</label>
        <input id="id_old_password" name="old_password" required/>
    </p>

    <p>
        <label for="id_new_password1">Contraseña Nueva:</label>
        <input id="id_new_password1" name="new_password1" required/>
    </p>

    <p>
        <label for="id_new_password2">Confirmar Contraseña Nueva:</label>
        <input id="id_new_password2" name="new_password2" required/>
    </p>

    <button type="submit"> Actualizar </button>
</form>

{ % endblock % }
   