{%extends "index.html"%}
<!--Seccion de autores-->
{%block contenido%}
<h2> LIBROS </h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Titulo</th>
            <th>Autor</th>

        </tr>
    </thead>
    <tbody>
        {% for libro in libros %}
        <tr>
            <td>{{ libro.id }}</td>
            <td>{{ libro.titulo }}</td>
            <td>{{ libro.autor.nombre }} {{ libro.autor.apellido }}</td>

        </tr>
        {% endfor %}
    </tbody>
{%endblock%}